# Windows and Mac OS X Temp Cache Files
[Tt]humbs.db
*.DS_Store
 
# Visual Studio files
*.suo
*.user
*.tmp_proj
bin
obj
publish

# Misc
packages

#Obfuscation
/Obfuscation/Obfuscated/
/Obfuscation/Original/
/Obfuscation/*.map
Release
